@import "bourbon";
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,500,500italic,300italic);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500);

* {
    margin: 0;
    padding: 0;
}

p {
    position: absolute;
    color: #222;
    text-decoration: none;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: Fira Sans;
}

p a {
    text-decoration: none;
    color: purple;
}

.menu {
    background-color: red;
    width: 100%;
    height: 100%;
}

.menubackground {
    width: 2700px;
    height: 2700px;
    position: fixed;
    left: -2240px;
    z-index: 10;
    top: -2240px;
    transform: rotate(-45deg);
    background-color: #28eca4;
    transition: all 700ms '$ease-in-out-quart'
}

.menulinks {
    position: absolute;
    z-index: 20;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
}

.menulinks li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 3rem;
}

.menubars {
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 20;
}

.menubars .menubar {
    height: 5px;
    position: absolute;
    z-index: 30;
    width: 30px;
    background-color: #fff;
}

.top {
    top: 0;
}

.middle {
    top: 10px;
}

.bottom {
    top: 20px;
}